{% extends 'base.html' %}
{% block content %}
<h1>{{ request.course_code }}</h1>
<p>{{ request.topic_description }}</p>
<p>Requested {% if request.visibility == 0 %} by <a href="{% url 'user_detail' slug=request.user.username %}">{{ request.user.username }}</a> {% endif %} on {{ request.created_at }}</p>
{% if request.user == user %}
<p><a href="{% url 'request_update' pk=request.id %}">Edit Tutor Request</a></p>
<p><a href="{% url 'request_delete' pk=request.id %}">Delete Request</a></p>
{% endif %}
{% if replies.count > 0 %}
<h3>{{ replies.count }} Reply{{ replies.count|pluralize }}:</h3>
{% endif %}
{% for reply in replies %}
<div class="panel">
  <p>{{ reply.rate_per_hour }}</p>
  {% if reply.user == user %}
  <p><a href="{% url 'reply_update' request_pk=request.id reply_pk=reply.id %}">Edit reply</a></p>
  <p><a href="{% url 'reply_delete' request_pk=request.id reply_pk=reply.id %}">Delete reply</a></p>
  {% endif %}
  <p>Provided {% if reply.visibility == 0 %} by <a href="{% url 'user_detail' slug=reply.user.username %}">{{ reply.user.username }}</a> {% endif %} on {{ reply.created_at }}</p>
<form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ reply.vote_set.all.count }} Vote{{  reply.vote_set.all.count|pluralize }}</span>
    {% csrf_token %}
    <input type="hidden" name="reply" value="{{ reply.id }}" />
    <input type="hidden" name="request" value="{{ request.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    {% if reply in user_votes %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
    {% else %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
    {% endif %}
</form>
</div>
{% endfor %}
{% if not user_replies %}
<p><a href="{% url 'reply_create' pk=request.id %}">Write reply</a></p>
{% endif %}
{% endblock %}