{% extends 'base.html' %}
{% block content %}
<h1>{{ request.course_code }}</h1>
<p>{{ request.topic_description }}</p>
<p>Requested by {{ request.user.username }} on {{ request.created_at }}</p>
{% if request.user == user %}
<p><a href="{% url 'request_update' pk=request.id %}">Edit Tutor Request</a></p>
<p><a href="{% url 'request_delete' pk=request.id %}">Delete Request</a></p>
{% endif %}
{% if replies.count > 0 %}
<h3>{{ replies.count }} Reply{{ replies.count|pluralize }}:</h3>
{% endif %}
{% for reply in replies %}
<div class="panel">
  <p>{{ reply.rate_per_hour }}</p>
  {% if reply.user == user %}
  <p><a href="{% url 'reply_update' request_pk=request.id reply_pk=reply.id %}">Edit reply</a></p>
  <p><a href="{% url 'reply_delete' request_pk=request.id reply_pk=reply.id %}">Delete reply</a></p>
  {% endif %}
  <p>Provided by {{ reply.user.username }} on {{ reply.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'reply_create' pk=request.id %}">Write reply</a></p>
{% endblock %}